<h1 class="mt-5 mb-5">Welcome to Bookerz!!</h1>

<% @categories.each do |category| %>
<h3 class="mt-5"><%= category.name %></h3>
<hr class="mb-3">
<div class="row">
  <% category.books.each do |book| %>
  <div class="col-6">
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag book.image %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= book.name %></h5>
            <p class="card-text"><%= book.description %></p>
            <!-- TODO: update link after adding session carts -->
            <a href="#" class="btn btn-primary">Add to Cart</a>
            <%= link_to  "View Book", book_path(book), class: "btn btn-info" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>