<div class="<%= 'col-md-6' unless controller.controller_name == "books" && controller.action_name == "show" %>">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <%= image_tag(book.image, alt: book.name) %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <% if controller.controller_name == "books" && controller.action_name == "show" %>
          <h1 class="mb-3"><%= book.name %></h1>
          <% else %>
          <h3 class="mb-3"><%= book.name %></h3>
          <% end %>
          <p><%= book.description %></p>
          <% unless current_page?(controller: 'pages', action: 'home') %>
          <p>
            <small class="text-muted">
              Category: <%= link_to book.book_category.name, book_category_path(book.book_category) %>
            </small>
          </p>
          <% end %>
          <!-- Showing Add to Cart button conditionally -->
          <% if @cart.include?(book) %>
          <%= link_to  "Remove from Cart", remove_from_cart_path(book.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
          <%= link_to  "Add to Cart", add_to_cart_path(book.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
          <% unless controller.controller_name == "books" && controller.action_name == "show" %>
          <%= link_to  "View Book", book_path(book), class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>