<!DOCTYPE html>
<html>

<head>
  <title>Bookerz</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
  <!-- Required meta tags -->
</head>

<body>
  <!-- devise auth alerts -->
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Bookerz</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <%= link_to  "Books", books_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% @categories.each do |category| %>
              <li>
                <%= link_to category.name, book_category_path(category), class: 'dropdown-item' %>
              </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto mr-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <!-- TODO: change it according to user state, drop down with orders, user page and logout buttons -->
            <a class="nav-link active" aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cart">Cart <span class="badge bg-danger"><%= @cart.length %></span></a>
          </li>
        </ul>
        <%= form_tag(search_page_path, :method => "get",
          class: 'd-flex') do %>
        <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control mr-2" %>
        <%= select_tag "category", options_from_collection_for_select(@categories, "id", "name"), prompt: "All categories", class: 'form-control ml-1 mr-1' %>
        <%= button_tag "Search", :class => 'btn btn-outline-success',:name => nil%>
        <% end %>
        <%
=begin%>
        <form class="d-flex">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <%
=end%>
      </div>
    </div>
  </nav>

  <%= debug session[:cart] %>

  <div class="container">
    <%= yield %>
  </div>
</body>

</html>